 <div class="col-xs-12" style="float:left">
                <!--h1>Login!</h1-->

                {% if error %}
                    <div class="alert alert-danger">
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}
                {{ form_start(form) }}

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1  col-md-offset-2">
                            <label>Login</label>
                        </div>
                        <div class="col-md-4" >  
                            {{ form_widget(form._username, {'attr': {'style': 'width:300px;'} }) }}
                        </div>
                    </div>              

                </div>

              
                <br>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1  col-md-offset-2">
                            <label>Mot de Passe</label>
                        </div>
                        <div class="col-md-4" >  
                            {{ form_widget(form._password, {'attr': {'style': 'width:300px;'} }) }} 
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                       >
                <!--input type="hidden" id="get_uri_redirect" value="{#{url}#}" -->
                <button type="submit" class="btn btn-primary" style="margin-left: 293px;margin-top: -7px">Connexion <!--span class="fa fa-lock"></span--></button>
                &nbsp;
<!--a href="{#{ path('user_register') }#}">Register</a-->
                {{ form_end(form) }}
            </div>